.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.text-container,
.progress-container,
.image-container,
.hidden-text-container {
  width: 100%;
  max-width: 600px;
}

.image {
  width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .text-container,
  .progress-container {
    flex: 1;
  }

  .image-container {
    flex: 2;
  }
}
