.container {
  display: flex;
  flex-wrap: wrap;
}

.text-container,
.image-container {
  flex: 1 1 100%;
}

.image {
  width: 100%;
}

@media (min-width: 768px) {
  .text-container,
  .image-container {
    flex: 1 1 50%;
  }
}
